// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;

// Kode Brew colors:
$gray: #0E0000;
$green: #008100;
$light-green:rgba(0,129,0,0.5);
$dark-gray: #213A3F;
$light-gray: #4D6165;
$white:#F1F3F3;
$body :#EEEEEE;

// Progress Bar colors
$brand-primary: #008100;
$white: #fff;
$grey-light: #ededed;
$grey: #808080;
$orange: #FFA500;
