// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$green: #008100;
$green-light:rgba(0,129,0,0.5);
$gray-dark: #213A3F;
$light-gray: #4D6165;
$white:#F1F3F3;
$body :#EEEEEE;
