// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #AC8600;
$orange: #E67E22;

// Kode Brew colors:
$gray: #0E0000;
$green: #008100;
$medium-green: rgba(0,129,0,0.5);
$light-green: rgba(34, 168, 34, 0.5);
$dark-gray: #213A3F;
$light-gray: #4D6165;
$white:#F1F3F3;
$body :#EEEEEE;

// Progress Bar colors:
$brand-primary: #008100; //finished
$light-grey-bar: #ededed;//next steps
$grey-bar: #808080;
$orange-bar: #E67E22; //active sprint
