.user-content {
  height: auto;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 32px;
  i{
    font-size: 44px;
  }
}

.profile-img-div{
  
}
