<div class="container">
  <div class="form-shape col-md-6 mx-auto">
    <%= link_to project_sprint_tasks_path(@project, @sprint), class: 'btn-back text-decoration-none' do %>
      <i class='fa-solid fa-circle-left'></i>
    <% end %>
    <h2 class="form-title">Cadastrar nova tarefa</h2>
     <%= render 'form', task: @task, project: @project, sprint: @sprint %>
  </div>
</div>
