<div class="container mt-2">
  <div class = 'card_main'>
    <div class="main-card-header">
      <h2><%= @user.name %></h2>
    </div>

    <div class = 'user-content'>
      <div class = 'profile-img-div'>
        <% if @user.photo.present?  %>
            <%= cl_image_tag @user.photo.key, width: 160, height: 160, crop: :thumb, gravity: :face%>
          <% else %>
            <%= image_tag "not_found.jpg", class: "avatar-square-large" %>
          <% end %>
      </div>

      <div class = 'user-links'>
      <i class="fa-brands fa-github-alt"></i>
      <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>
  </div>
</div>
