<div class="container">
  <div class="sidebar">
    <div class="nav">
      <div class="menu">
        <ul>
          <li class="clickable">
            <a href="#">
              <i class="house bi bi-house-door"></i>
              <span class="text">Dashboard</span>
            </a>
          </li>

          <li class="clickable">
            <a href="#">
              <i class="kanban bi bi-kanban"></i>
              <span class="text">Projeto</span>
              <i class="arrow fa-solid fa-sort-down"></i>
            </a>
            <ul class="sub-menu">
              <li class="clickable">
                <a href="#">
                  <i class="fa-regular fa-circle-dot"></i>
                  <span class="text">Projeto Atual</span>
                </a>
              </li>

              <li class="clickable">
                <a href="#">
                  <i class="fa-regular fa-pen-to-square"></i>
                  <span class="text">Criar Projeto</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <i class="bi bi-easel3-fill"></i>
                  <span class="text">Todos os Projetos</span>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#">
              <i class="people fa-solid fa-people-group"></i>
              <span class="text">Clientes</span>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="laptop bi bi-laptop"></i>
              <span class="text">Aulas</span>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="headset fa-solid fa-headset"></i>
              <span class="text">Ticket</span>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="ninja fa-solid fa-user-ninja"></i>
              <span class="text">Usuários</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
