<div class="container">
  <h1>Dashboard</h1>

<div class = 'card_members'>
 <h2 class="px-5"><i class="fa-regular fa-lightbulb"></i>  Sprint #1</h2>
 <h2>------------------------------------------------------------------</h2>
  <div class=" col-12 px-5">
    <table class="table">
      <thead>
        <tr>
          <th class = ''>Tarefas</th>
          <th class = ''>Responsáveis</th>
        </tr>
      </thead>
      <tbody>
            <tr>
              <td class ="p-3" >CRUD projects</td>
              <td class ="p-3"> <%= image_tag "https://kitt.lewagon.com/placeholder/users/thony-vieira", class: "avatar mx-2" %>
                                <%= image_tag "https://kitt.lewagon.com/placeholder/users/perrigii", class: "avatar mx-2" %></td>
            </tr>
            <tr>
              <td class ="p-3">CRUD clients</td>
              <td class ="p-3"><%= image_tag "https://kitt.lewagon.com/placeholder/users/CaioBrasetti", class: "avatar mx-2" %></td>
            </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
