<div class="container">
  <h1>Dashboard</h1>

  <div class= "small-cards-container">
    <div class= "small-card">
      <div class= "small-card-header">
      </div>

      <div class= "small-card-body">
      </div>

      <div class= "small-card-footer">
      </div>
    </div>
  </div>

  <div class = 'card_main'>
    <h2 class="px-5 mt-3"><i class="fa-regular fa-lightbulb"></i> &nbsp;&nbsp; Sprint &nbsp;&nbsp;#3</h2>
    <h2 class = "text-success px-2">|-----------|-----------|-----------|-----------|-----------|-----------|</h2>
      <div class="table-responsive col-12 p-5">
        <table class="table">
          <thead>
            <tr>
              <th class='px-3'>Tarefas</th>
              <th class= 'text-center'>Responsáveis</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class ="py-4 px-3" >CRUD projects</td>
              <td class ="p-3 text-center">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/thony-vieira", class: "avatar-large mx-2" %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/perrigii", class: "avatar-large mx-2" %>
              </td>
            </tr>
            <tr>
              <td class ="py-4 px-3">CRUD clients</td>
              <td class ="p-3 text-center"><%= image_tag "https://kitt.lewagon.com/placeholder/users/CaioBrasetti", class: "avatar-large mx-2" %></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
