<div class="container text-center">
  <h2 class="title mt-4 text-center"> Editar Projeto</h2>
  <%= render 'form', project: @project %>

  <%= link_to "Back show project", project_path(@project), class: "btn btn-outline-secondary my-3"%>

</div>
