<div class="container text-center">
  <h2 class="title mt-4 text-center"> Criar Projeto</h2>
  <%= render 'form', project: @project %>

  <%= link_to "Back projects", projects_path, class: "btn btn-outline-primary my-3"%>

</div>
