.icon_delete{
  color: #CE3B2E;
  background-color: $white;
  border-radius: 50%;
  font-size: x-large;
}

.button_confirm{
  border-radius: 20px;
  margin-bottom: 5px;
  background-color: $green-light;
  color: white;
}
