.icon_delete{
  color: #CE3B2E;
  background-color: $white;
  border-radius: 50%;
  font-size: xx-large;
}

.button_confirm{
  border-radius: 20px;
  margin: 5px;
  background-color: $light-green;
  color: white;
}

.btn_status{
  padding: 4px;
  color: $white;
  margin: 0px;
  border-radius: 20px;
}
