.card_project_member{
  border-radius: 20px;
  margin-bottom: 5px;
}

.card_form{
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.card_members{
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}
