%remain-steps {
  &:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
  }

  &:after {
    background-color: $grey-light;
  }
}

.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;

  >li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: $grey;

    &:before {
      content: '\2713';
      display: block;
      margin: 0 auto 4px;
      background-color: $grey-light;
      width: 36px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      color: white;

      border: {
        width: 2px;
        style: solid;
        color: $grey-light;
        radius: 50%;
      }
    }

    &:after {
      content: '';
      height: 8px;
      width: 100%;
      background-color: $grey-light;
      position: absolute;
      top: 16px;
      left: 50%;
      z-index: -1;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &.is-active {
      color: $orange;
      /* Laranja para etapa ativa */

      &:before {
        background-color: $orange;
        border-color: $grey-light;
      }
    }

    &.is-completed {
      color: $brand-primary;
      /* Verde para etapa completada */

      &:before {
        background-color: $brand-primary;
        border-color: $brand-primary;
      }

      &:after {
        background-color: $brand-primary;
      }
    }
  }
}
