
body {
  overflow: scroll;
  height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 600px;
}


#sidebar {
  width: 60px;
  min-width: 60px;
  z-index: 1000;
  transition: all .25s ease-in-out;
  display: flex;
  flex-direction: column;
  margin-top: 74px;
  border-radius: 0 17px 17px 0;
  background-color: white;
  filter: drop-shadow(rgba(18, 1, 1, 0.329) 0rem 0rem 14px);
}

#sidebar.expand {
  width: 1450px;
  min-width: 170px;
  max-width: fit-content;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none;
}

.sidebar-nav {
  padding: 1rem 0;
  flex: 1 1 auto;
  display: inline-grid;
  justify-content: flex-start;
}

.sidebar-item {
  position: relative;
  display: block;
}

a.sidebar-link {
  padding: .625rem;
  color: #213A3F;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
  text-decoration: none;
  border-radius: 24px;
  transition: all 0.3s;
}

.sidebar-link i {
  margin-right: .75rem;
}

a.sidebar-link:hover {
  color: white;
  background-color: rgba(0,129,0,0.5);
  text-decoration: none;
}

.dropdown-list {
  margin-left: 20px;
  padding-left: 4px;
  padding-top: 5px;
  border-left: 1px solid #99b5ba;
  display: -webkit-inline-box;
}


.dropdown-item i {
  color: #008100;
}

.title-path span {
  font-size: 15;
}

.icon-path {
  font-size: 20px;
}

.toggle {
  display: flex;
  justify-content: right;
}

#toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: right;
  color: #213a3f73;
}
