th,td {
  border-bottom-color: rgba(33,58,63,0.2) !important;
  background-color: white !important;
  color :$gray-dark !important;
}
td{
  font-size: 22px;
}
th{
  font-size: 27px;
  border-bottom-width: 2px !important;
}
