th,td {
  border-bottom-color: rgba(33,58,63,0.2) !important;
  // background-color: white !important;
  color :$dark-gray !important;
}
td{
  font-size: 22px;
}
th{
  font-size: 27px;
  border-bottom-width: 2px !important;
}

.table_main{
  // border: rgba(0, 0, 0, 0.16) 1px solid;
  // border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(5px);
}
