<div class="container text-center">
  <h1>Project Members#edit</h1>
  <%= render 'form', project: @project_member %>
  <%= link_to "Back show project_members", project_member_path(@project_member), class: "btn btn-outline-secondary my-3"%>
</div>
